body {
    background-color: black;
    margin: 0;
    padding: 17px;
}

main.boxp {
    background-color: black;
    display: inline-block;
    width: 89vw;
    height: 100px;
    margin: 20px;
    border-radius: 9px;
}

h1 {
    text-align: center;
    color: #1c5dd6;
}
section.section_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.box {
    width: 150px;
    height: 100px;
    background-color: #1c5dd6;
    margin: 20px;
    border-radius: 11px;
    
}

.box#img01 {
    background-image: url('imagens/loading.jpg');
    background-size: cover;
    background-position: center;
}

.box#img02 {
    background-image: url('imagens/loading.jpg');
    background-size: cover;
    background-position: center;
}

.box:hover {
    background-color: #04235c;
    transform: scale(1.1);
}


main.boxm {
    background-color: black;;
    display: inline-block;
    width: 90vw;
    height: 20vh;
    margin: 10px;
    border-radius: 9px ;
}

footer.rodape {
    background-color: black;
    color: #1c5dd6;
    font-size: 8px;
}

.voltar {
    text-align: center;
    font-size: 1.2rem;
    padding: 20px;
}

