@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;600&display=swap');
@import url('projetosp.css');

:root {
    --cor-preto: #000000;
    --cor-branca: #f6f6f6;
    --cor-azul: #22d4fd;
    --cor-hover: #272727;

    --fonte-primaria:'krona One', sans-serif;
    --fonte-segundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-preto);
    color: var(--cor-branca);
}

.titulo-destaque {
    color:var(--cor-azul);
}

.apresentacao {
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    line-height: 1.5;

}

.apresentacao__conteudo {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.apresentacao__conteudo__titulo {
    font-size: 1.5rem;
    font-family:var(--fonte-primaria);
    margin: 15px;
}


img {
    border-radius: 25%;
    text-align: center;

}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    gap: 20px;
    padding: 10%;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    border: 2px solid var(--cor-azul);
    width: 60vw;
    border-radius: 9px;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 15px 15px;
    text-decoration: none;
    color: var(--cor-branca);
    font-family: var(--fonte-primaria);

}

.apresentacao__imagem {
    width: 60%;
    padding: 40px;
}


.apresentacao__links__link:hover {
    background-color: #272727;
}

.rodape {
    color: var(--cor-preto);
    background-color: var(--cor-azul);
    padding: 10px;
    text-align: center;
    font-family: var(--fonte-segundaria);
    font-size: 1.0rem;
    font-weight: 600;

}
 
@media screen and (max-width: 600px) {

    .apresentacao {
        padding: 3%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
        line-height: 1.5;
    
    }

    .apresentacao__imagem {
        width: 60%;
        padding: 40px;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.5rem;
        font-family:var(--fonte-primaria);
        margin: 15px;
    }

    .apresentacao__links__navegacao {

        text-transform: capitalize;
        text-indent: 2%;
        width: 90%;
    
    }


    
}


@media screen and (min-width:601px) and (max-width: 1024px)  {
    
    .apresentacao {
        padding: 5%;
        display: flex;

    
    }

    .apresentacao__imagem {
        width: 30%;
        padding: 20px;
    }
    

    .apresentacao__conteudo__titulo {
        font-size: 1.5rem;
        font-family:var(--fonte-primaria);
        padding: 3px;
    
    }

    .apresentacao__links__navegacao {

        text-transform: capitalize;
        text-indent: 2%;
    
    
    }    

    .apresentacao__links__navegacao:hover {
        background-color: #04235c;
    }
}

@media screen and (min-width: 1025px) {

.apresentacao {
    padding: 5%;
    display: flex;
    flex-direction: row-reverse;


}

.apresentacao__imagem {
    width: 30%;
    padding: inherit;

}


.apresentacao__conteudo__titulo {
    font-size: 1.5rem;
    font-family:var(--fonte-primaria);
    padding-top: 25px;


}

.apresentacao__links__navegacao img {
    border-radius: 0%;
}

.apresentacao__links__navegacao {
    width: 40vw;
    text-transform: capitalize;
    text-indent: 2%;
}    

.apresentacao__links__navegacao:hover {
    background-color: #04235c;
}
}